extends layout

block append head
  //script(type='text/javascript', src='/dronestream/nodecopter-client.js')
  script(type='text/javascript', src='/js/horizon.js')
  script(type='text/javascript', src='/js/compass.js')
  script(type='text/javascript', src='/js/gauge.js')
  script(type='text/javascript', src='/js/cockpit.js')
  script(type='text/javascript', src='/js/gamepad.js')
  

-# for developing the client, use those url:s
-# script(type='text/javascript', src='/dronestream/vendor/broadway/sylvester.js')
-# script(type='text/javascript', src='/dronestream/vendor/broadway/glUtils.js')
-# script(type='text/javascript', src='/dronestream/vendor/broadway/util.js')
-# script(type='text/javascript', src='/dronestream/vendor/broadway/avc-codec.js')
-# script(type='text/javascript', src='/dronestream/vendor/broadway/avc.js')
-# script(type='text/javascript', src='/dronestream/vendor/broadway/canvas.js')
-# script(type='text/javascript', src='/dronestream/nodecopter-stream.js')
-# concatenated version of client


block append bodyscripts
  script.
    var cockpit = new NodecopterCockpit(
      '#dronestream',
      '.compass.clip',
      'canvas.horizon',
      'batterygauge',
      0,
    );


block content
  .cockpit
    canvas#horizon.gauge.horizon(width=840, height=630)
    #dronestream(width=840, height=630)
    .compass.clip(style='width:840px; height:30px;')
    .image
   //img(src='http://192.168.1.3:8090/?action=stream', alt='', data-position='absolute')
  canvas#batterygauge.gauge.battery


